{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<cta26-wrapper>
    <div class="thq-section-padding">
      <div class="thq-section-max-width">
          <div class="cta26-content">
            <span>
              <fragment class="home-fragment024">
                <span class="cta26-text024 thq-heading-2">
                About Us
                </span>
              </fragment>
            </span>
            <p class="cta26-text025 thq-body-large">
              The Harish Group is a diversified company that provides supply of building materials, manufactures concrete blocks, and operates a civil construction contracting business.
            </p>
            <p class="cta26-text025 thq-body-large">
                Guided by a longstanding legacy of trust, the company's operations are rooted in reliability and integrity.
            </p>
            <p class="cta26-text025 thq-body-large">
                Chit services are the first financial product offered by the Harish Group. Our objective is to deliver supplementary Yuvanadu Chits Services designed to meet the unique savings and borrowing needs of our clients.
            </p>
            <p class="cta26-text025 thq-body-large">
                Prudent financial planning involves both saving money and having access to credit. Individuals may need to take out loans to purchase assets or cover unexpected expenses. Maintaining a balanced approach with savings and borrowing options can help ensure financial stability throughout one's lifetime.
            </p>
            <p class="cta26-text025 thq-body-large">
                Our chit fund, a unique savings and loan scheme, caters to customers across all classes. Simultaneously, we uphold the highest standards of ethics, best practices, professional integrity, corporate governance, and regulatory compliance.
            </p>
            <p class="cta26-text025 thq-body-large">
                Established in 2024, the Harish Group's inaugural chit fund was built on a foundation of ethics, trust, and financial responsibility. Drawing on our extensive financial market expertise, we are well-equipped to navigate challenges and seize emerging opportunities. That same year, we launched our Chit financial services business in a new form by incorporating a new company called Yuvanadu Chits Pvt Ltd.
            </p>
            <p class="cta26-text025 thq-body-large">
                The HG brand is renowned for its trustworthiness and integrity. We offer a diverse portfolio of Yuvanadu Chits products and schemes that customers can conveniently access through our extensive network of branch, agents, and online channels. Additionally, our members have the flexibility to choose from multiple security options for their prize money payouts - a feature that sets us apart from traditional chit fund operators.
            </p>
          </div>
      </div>
    </div>
  </cta26-wrapper>

  <pricing14-wrapper id="product">
    <div class="pricing14-pricing23 thq-section-padding">
      <div class="pricing14-max-width thq-section-max-width">
        <div class="pricing14-container">
          <div class="pricing14-column1 thq-card">
            <div class="pricing14-price02">
              <div class="pricing14-price03">
                <p class="home-text014 thq-body-small">
                  <fragment class="home-fragment052"></fragment>
                </p>
                <p>VISION</p>
              </div>
              <div class="pricing14-list1">
                <div class="pricing14-list-item03">
                <p class="home-text014 thq-link thq-body-small">
                    <span class="home-text017  thq-body-large">
                    <fragment class="home-fragment057">
                      <span class="home-text057 thq-body-small">
                        Your Chit awaits, a digital companion to guide you through the labyrinth
                        of your mind and heart. It's more than just a tool; it's your confidant, your mentor, and your cheerleader,
                        all rolled into one. Become the Chit of choice for a transformative journey of self-discovery.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="pricing14-column1 thq-card">
            <div class="pricing14-price02">
              <div class="pricing14-price03">
                <p class="home-text014 thq-body-small">
                  <fragment class="home-fragment052"></fragment>
                </p>
                <p>MISSION</p>
              </div>
              <div class="pricing14-list1">
                <div class="pricing14-list-item03">
                  <span class="home-text017 thq-link thq-body-large">
                    <fragment class="home-fragment057">
                      <span class="home-text057 thq-body-small">
                        By providing easy-to-understand, promptly delivered, and forward-thinking chit financial products, we aim to exceed customer expectations.
                        Our commitment lies in delivering uncomplicated, quick-response, and cutting-edge chit financial services.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing14-column1 thq-card">
            <div class="pricing14-price02">
              <div class="pricing14-price03">
                <p class="home-text014 thq-body-small">
                  <fragment class="home-fragment052"></fragment>
                </p>
                <p>VALUES</p>
              </div>
              <div class="pricing14-list1">
                <div class="pricing14-list-item03">
                <p class="home-text014 thq-link thq-body-small">
                    <span class="home-text017  thq-body-large">
                    <fragment class="home-fragment057">
                      <span class="home-text057 thq-body-small">
                        Service, transparency, and ethics are fundamental to building trust with customers.
                        Politeness and sustainability should be core values in any community.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </pricing14-wrapper>
{% endblock %}