{% extends 'common/base.html' %}
{% block content %}
{% load static %}
  <div class="home-container">
    <contact10-wrapper id="contact">
      <div class="contact10-container thq-section-padding">
        <div class="contact10-max-width thq-section-max-width">
          <div class="contact10-content thq-flex-row">
            <div class="contact10-content1">
              <h2>
                <fragment class="home-fragment108">
                  <h2 class="home-text110 thq-heading-2">Contact Us</h2>
                </fragment>
              </h2>
              <p>
                <fragment class="home-fragment106"></fragment>
              </p>
              <p class="home-text108 thq-body-large">
                Get in touch with us
              </p>

              <p></p>
            </div>
          </div>
          <div class="contact10-content2 thq-flex-row">
            <div class="contact10-container1">
              <h3>
                <fragment class="home-fragment110">
                  <p>Registered Head Office</p>
                  <h3 class="home-text112 thq-heading-3">
                    YUVANADU CHITS PRIVATE LIMITED
                  </h3>
                </fragment>
              </h3>
              <p>
                <fragment class="home-fragment107"></fragment>
              </p>
              <p class="home-text109 thq-body-large">
                #91, 5th Main Road, AK Gopalan Colony, <br>
                Channasandra, Kadugudi (Post), <br>
                Behind HDFC Bank Ltd, <br>
                Bengaluru 560067, Karnataka India
                <br>
                <br>
                For assistance, call or visit <br>
                Office Phone No -NA- <br>
                Office Mobile No +91 9663335051
                <br>
                <br>
                E-mail ID info@yuvanaduchits.in
                <br>
                <a href="https://yuvanaduchits.in/" type="button">Website www.yuvanaduchits.in</a>

              </p>
              <p></p>
            </div>
            <div class="contact10-container3">
              <img src="{% static 'images/YCPL - UPI ID yccollect55376sbi_page-0001.jpg'%}" alt="" width="60%" height="50%">
            </div>
          </div>
        </div>
      </div>
    </contact10-wrapper>
    <footer4-wrapper>
      <footer class="footer4-footer7 thq-section-padding">
        <div class="footer4-max-width thq-section-max-width">
          <div class="footer4-content">
            <div class="footer4-logo">
              <img alt="Chitfund Logo"  src="{% static 'images/YCPL-LOGO FINAL 10-05-2024_page-0001.jpg'%}" alt="" width=100%;
                class="footer4-logo1" />
            </div>
            <div class="footer4-links">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment114">
                  <span class="home-text116 thq-body-small">Home</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment116">
                  <span class="home-text118 thq-body-small">About Us</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment113">
                  <span class="home-text115 thq-body-small">Services</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment117">
                  <span class="home-text119 thq-body-small">
                    Contact Us
                  </span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment112">
                  <span class="home-text114 thq-body-small">FAQs</span>
                </fragment>
              </a>
            </div>
          </div>
          <div class="footer4-credits">
            <div class="thq-divider-horizontal"></div>
            <div class="footer4-row">
              <div class="footer4-container">
                <span class="home-text thq-body-small">
                  © 2024 YuvanaduChits
                </span>
              </div>
              <div class="footer4-footer-links">
                <span>
                  <fragment class="home-fragment119">
                    <span class="home-text121 thq-body-small">
                      Privacy Policy
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="home-fragment115">
                    <span class="home-text117 thq-body-small">
                      Terms and Conditions
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="home-fragment118">
                    <span class="home-text120 thq-body-small">
                      Cookies Policy
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </footer4-wrapper>
  </div>
      
{% endblock %}