{% extends 'common/base.html' %}
{% block content %}
{% load static %}
  <div class="home-container">

      <hero17-wrapper>
        <div class="hero17-header78">
          <div class="hero17-column thq-section-padding thq-section-max-width">
            <div class="hero17-content">
              <h1>
                <fragment class="home-fragment016">
                  <h1 class="hero17-text016 thq-heading-1">
                    Introducing Yuvanadu Chits Private Limited - Your Trusted Partner for Financial Growth
                  </h1>
                </fragment>
              </h1>
              <p>
                <fragment class="home-fragment017"></fragment>
              </p>
              <p class="hero17-text017 thq-body-large">
                Are you looking for a reliable and transparent way to save and grow your money? Look no further than Yuvanadu Chits Private Limited!
              </p>

              <p></p>
            </div>
            <div class="hero17-actions">
              <button class="thq-button-filled hero17-button">
                <span>
                  <fragment class="home-fragment015">
                    <span class="hero17-text015 thq-body-small">
                      Join Now
                    </span>
                  </fragment>
                </span>
              </button>
              <button class="thq-button-outline hero17-button1">
                <span>
                  <fragment class="home-fragment014">
                    <span class="hero17-text014 thq-body-small">
                      Learn More
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
    
        </div>
      </hero17-wrapper>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p></p>
          </div>
        </div>
      </div>
      <cta26-wrapper>
        <div class="thq-section-padding">
          <div class="thq-section-max-width">
              <div class="cta26-content">
                <p class="cta26-text025 thq-body-large">
                  As a new-age chit fund company, we offer innovative financial solutions tailored to your needs. Our chit programs are designed to help you achieve your financial goals, whether it's buying a dream home, planning your child's education, or starting a business.
                </p>
              </div>
          </div>
        </div>
      </cta26-wrapper>
      
      <features24-wrapper>
        <div class="thq-section-padding">
          <div class="features24-container1 thq-section-max-width">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="features24-tabs-menu">
                    <div id="king">
                      <h2>Why choose Yuvanadu Chits?</h2>
                      <div class="features24-tab-horizontal">
                        <div class="features24-divider-container2">
                          <div class="features24-container4"></div>
                        </div>
                        <div class="features24-content">
                          <h2>
                            <fragment class="home-fragment021">
                              <h2 class="features24-text021 thq-heading-2">
                                Transparency:
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment022">
                              <span class="features24-text022 thq-body-small">
                              We believe in complete transparency in our operations.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      <br>
                      <div class="features24-tab-horizontal1">
                        <div class="features24-divider-container1">
                          <div class="features24-container3"></div>
                        </div>
                        <div class="features24-content1">
                          <h2>
                            <fragment class="home-fragment023">
                              <h2 class="features24-text023 thq-heading-2">
                                Security:
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment020">
                              <span class="features24-text020 thq-body-small">
                                Your money is safe with us. We adhere to strict regulatory guidelines.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      <br>
                      <div class="features24-tab-horizontal2">
                        <div class="features24-divider-container2">
                          <div class="features24-container4"></div>
                        </div>
                        <div class="features24-content2">
                          <h2>
                            <fragment class="home-fragment019">
                              <h2 class="features24-text019 thq-heading-2">
                                Flexibility: 
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment018">
                              <span class="features24-text018 thq-body-small">
                                Choose from a variety of chit plans to suit your budget and goals.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      <br>
                      <div class="features24-tab-horizontal">
                        <div class="features24-divider-container2">
                          <div class="features24-container4"></div>
                        </div>
                        <div class="features24-content">
                          <h2>
                            <fragment class="home-fragment021">
                              <h2 class="features24-text021 thq-heading-2">
                                Customer-centric: 
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment022">
                              <span class="features24-text022 thq-body-small">
                              Your satisfaction is our priority. We provide excellent customer support.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      <br>
                      <div class="features24-tab-horizontal1">
                        <div class="features24-divider-container1">
                          <div class="features24-container3"></div>
                        </div>
                        <div class="features24-content1">
                          <h2>
                            <fragment class="home-fragment023">
                              <h2 class="features24-text023 thq-heading-2">
                                Local Expertise: 
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment020">
                              <span class="features24-text020 thq-body-small">
                                We understand the unique financial needs of Bengalureans and are committed to providing personalized service.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      <br>
                      <div class="features24-tab-horizontal2">
                        <div class="features24-divider-container2">
                          <div class="features24-container4"></div>
                        </div>
                        <div class="features24-content2">
                          <h2>
                            <fragment class="home-fragment019">
                              <h2 class="features24-text019 thq-heading-2">
                                Competitive Rates: 
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment018">
                              <span class="features24-text018 thq-body-small">
                                Enjoy attractive returns on your chit investments.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      <br>
                      <div class="features24-tab-horizontal2">
                        <div class="features24-divider-container2">
                          <div class="features24-container4"></div>
                        </div>
                        <div class="features24-content2">
                          <h2>
                            <fragment class="home-fragment019">
                              <h2 class="features24-text019 thq-heading-2">
                                Flexible Plans: 
                              </h2>
                            </fragment>
                          </h2>
                          <span>
                            <fragment class="home-fragment018">
                              <span class="features24-text018 thq-body-small">
                                Choose a chit plan that perfectly aligns with your savings goals and timeline.
                              </span>
                            </fragment>
                          </span>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
      </features24-wrapper>
      
      <div id="virat">
          <div class="steps2-container3 thq-card">
              <h2>
                <fragment class="home-fragment088">
                  <h2 class="home-text090 thq-heading-2">
                    Register for an account
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="home-fragment084">
                  <span class="home-text086 thq-body-small">
                    Sign up on our platform by providing your basic
                    details and creating a secure login.
                  </span>
                </fragment>
              </span>
              <label class="steps2-text05 thq-heading-3">01</label>
          </div>
          <div class="steps2-container4 thq-card">
            <h2>
              <fragment class="home-fragment086">
                <h2 class="home-text088 thq-heading-2">
                  Choose a chitfund plan
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="home-fragment087">
                <span class="home-text089 thq-body-small">
                  Explore the various chitfund plans available and
                  select the one that best suits your financial goals.
                </span>
              </fragment>
            </span>
            <label class="steps2-text08 thq-heading-3">02</label>
          </div>
          <div class="steps2-container5 thq-card">
            <h2>
              <fragment class="home-fragment089">
                <h2 class="home-text091 thq-heading-2">
                  Join a chitfund group
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="home-fragment085">
                <span class="home-text087 thq-body-small">
                  Join an existing chitfund group or create a new one
                  with friends, family, or like-minded individuals.
                </span>
              </fragment>
            </span>
            <label class="steps2-text11 thq-heading-3">03</label>
          </div>
          <div class="steps2-container6 thq-card">
            <h2>
              <fragment class="home-fragment091">
                <h2 class="home-text093 thq-heading-2">
                  Start contributing
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="home-fragment090">
                <span class="home-text092 thq-body-small">
                  Begin making regular contributions towards the
                  chitfund group to build your savings and participate
                  in the chitfund auctions.
                </span>
              </fragment>
            </span>
            <label class="steps2-text14 thq-heading-3">04</label>
          </div>
      </div>
        

    <cta26-wrapper>
      <div class="thq-section-padding">
        <div class="thq-section-max-width">
           <div class="exp">
            <div class="cta26-content">
              <span>
                <fragment class="home-fragment024">
                  <span class="cta26-text024 thq-heading-2">
                    A Single platform for your Personal / Business needs – Yuvanadu Chits
                  </span>
                  <span class="cta26-text024 thq-heading-2">
                    Invest wisely, grow steadily
                  </span>
                </fragment>
                <h3>Salient Features of Yuvanadu Chits</h3>
              </span>
              <p class="cta26-text025 thq-body-large">
                •	Secured & Profitable Chit Financial Products
              </p>
              <p class="cta26-text025 thq-body-large">
                •	Online Action Chits
              </p>
              <p class="cta26-text025 thq-body-large">
                •	Fully Online & Customer Support
              </p>
              <p class="cta26-text025 thq-body-large">
                •	Customer Friendly Mobile App
              </p>
              <p class="cta26-text025 thq-body-large">
                •	Secure & Online payment of Chit instalments
              </p>
              <p class="cta26-text025 thq-body-large">
                •	Insurance scheme for the liability waiver option 
              </p>
            </div>
           </div>
        </div>
      </div>
    </cta26-wrapper>
    <cta26-wrapper>
      <div class="thq-section-padding">
        <div class="thq-section-max-width">
            <div class="cta26-content">
              <span>
                <fragment class="home-fragment024">
                  <span class="cta26-text024 thq-heading-2">
                    Grow Your Savings & Achieve Your Dreams
                  </span>
                </fragment>
              </span>
              <p class="cta26-text025 thq-body-large">
                Whether you're saving for a dream vacation, or a down payment on a home, Yuvanadu Chits can help you reach your financial milestones.
              </p>
            </div>
        </div>
      </div>
    </cta26-wrapper>
    <cta26-wrapper>
      <div class="thq-section-padding">
        <div class="thq-section-max-width">
          <div class="cta26-accent2-bg">
            <div class="cta26-accent1-bg">
              <div class="cta26-container1">
                <div class="cta26-content">
                  <span>
                    <fragment class="home-fragment024">
                      <span class="cta26-text024 thq-heading-2">
                       Join the Yuvanadu Chits Family today and embark on a journey of Chit Financial prosperity.
                      </span>
                    </fragment>
                  </span>
                  <p>
                    <fragment class="home-fragment025"></fragment>
                  </p>
                  <p class="cta26-text025 thq-body-large">
                    Visit our website or contact us for a free consultation.Together, let's build a stronger Chit financial future for Bengaluru!

                  </p>

                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </cta26-wrapper>
    <testimonial17-wrapper>
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container">
            <h2>
              <fragment class="home-fragment103">
                <h2 class="home-text105 thq-heading-2">
                  What Our Clients Say
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="home-fragment100">
                <span class="home-text102 thq-body-small">
                  Read testimonials from our satisfied clients about their
                  experience with our chitfund services.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card">
                  <div class="testimonial17-container02">
                    <img alt="Image of John Doe"
                      src="https://images.unsplash.com/photo-1500336624523-d727130c3328?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image" />
                    <div class="testimonial17-container03">
                      <strong>
                        <fragment class="home-fragment094">
                          <strong class="home-text096 thq-body-large">
                            John Doe
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment093">
                          <span class="home-text095 thq-body-small">
                            CEO, ABC Company
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment102">
                      <span class="home-text104 thq-body-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nulla convallis libero in dui fringilla, nec
                        tincidunt est ultricies.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container04">
                    <img alt="Image of Jane Smith"
                      src="https://images.unsplash.com/photo-1686585044008-1987be63fd92?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1" />
                    <div class="testimonial17-container05">
                      <strong>
                        <fragment class="home-fragment097">
                          <strong class="home-text099 thq-body-large">
                            Jane Smith
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment092">
                          <span class="home-text094 thq-body-small">
                            CFO, XYZ Corporation
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment096">
                      <span class="home-text098 thq-body-small">
                        Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames ac turpis egestas.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container06">
                    <img alt="Image of Alice Johnson"
                      src="https://images.unsplash.com/photo-1616540389399-3033c4ba7072?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2" />
                    <div class="testimonial17-container07">
                      <strong>
                        <fragment class="home-fragment095">
                          <strong class="home-text097 thq-body-large">
                            Alice Johnson
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment101">
                          <span class="home-text103 thq-body-small">
                            Marketing Manager, LMN Ltd.
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment104">
                      <span class="home-text106 thq-body-small">
                        Fusce nec justo eget est aliquam luctus. Proin
                        auctor mauris sit amet nunc ultrices, vel fermentum
                        odio ultricies.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container08">
                    <img alt="Image of Michael Brown"
                      src="https://images.unsplash.com/photo-1541715301255-12a4839b424a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3" />
                    <div class="testimonial17-container09">
                      <strong>
                        <fragment class="home-fragment099">
                          <strong class="home-text101 thq-body-large">
                            Michael Brown
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment098">
                          <span class="home-text100 thq-body-small">
                            Operations Director, PQR Inc.
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment105">
                      <span class="home-text107 thq-body-small">
                        Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Sed vitae diam eu
                        arcu lacinia tincidunt.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </testimonial17-wrapper>
    <footer4-wrapper>
      <footer class="footer4-footer7 thq-section-padding">
        <div class="footer4-max-width thq-section-max-width">
          <div class="footer4-content">
            <div class="footer4-logo">
              <img alt="Chitfund Logo"  src="{% static 'images/YCPL-LOGO FINAL 10-05-2024_page-0001.jpg' %}" alt="" width=100%;
                class="footer4-logo1" />
            </div>
            <div class="footer4-links">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment114">
                  <span class="home-text116 thq-body-small">Home</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment116">
                  <span class="home-text118 thq-body-small">About Us</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment113">
                  <span class="home-text115 thq-body-small">Services</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment117">
                  <span class="home-text119 thq-body-small">
                    Contact Us
                  </span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment112">
                  <span class="home-text114 thq-body-small">FAQs</span>
                </fragment>
              </a>
            </div>
          </div>
          <div class="footer4-credits">
            <div class="thq-divider-horizontal"></div>
            <div class="footer4-row">
              <div class="footer4-container">
                <span class="home-text thq-body-small">
                  © 2024 YuvanaduChits
                </span>
              </div>
              <div class="footer4-footer-links">
                <span>
                  <fragment class="home-fragment119">
                    <span class="home-text121 thq-body-small">
                      Privacy Policy
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="home-fragment115">
                    <span class="home-text117 thq-body-small">
                      Terms and Conditions
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="home-fragment118">
                    <span class="home-text120 thq-body-small">
                      Cookies Policy
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </footer4-wrapper>
  </div>
  <script defer="" src="https://"></script>
{% endblock %}