{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<testimonial17-wrapper id="payment">
    <div class="thq-section-padding">
      <div class="testimonial17-max-width thq-section-max-width">
        <div class="testimonial17-container">
          <h2>
            <fragment class="home-fragment103">
              <h2 class="home-text105 thq-heading-2">
                PAYMENT OPTIONS
              </h2>
              <p>Online Payment Gateway </p>
            </fragment>
          </h2>
        </div>
        <div class="thq-grid-2">
          <div class="thq-animated-card-bg-2">
            <div class="thq-animated-card-bg-1">
              <div data-animated="true" class="thq-card testimonial17-card">
                <span>
                  <fragment class="home-fragment102">
                    <span class="home-text104 thq-body-small">
                      UPI Payment Scan & Pay	<br>
                      E-NACH & E-Mandate Payment<br>
                      SBI – Collection Payment Gateway<br>
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
          <div class="thq-animated-card-bg-2">
            <div class="thq-animated-card-bg-1">
              <div data-animated="true" class="thq-card testimonial17-card1">
                <span>
                  <fragment class="home-fragment096">
                    <span class="home-text098 thq-body-small">
                      Yuvanadu Chits Website from Customer Login Portal  <br>
                      From Bank Debit Cards or Net Banking Available <br>
                      SBI Bank Website Portal Login By Subscribers
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial17-max-width thq-section-max-width">
        <div class="testimonial17-container">
          <h2>
            <fragment class="home-fragment103">
              <h1><br></h1>
              <p>Offline Payment</p>
            </fragment>
          </h2>
        </div>
        <div class="thq-grid-2">
          <div class="thq-animated-card-bg-2">
            <div class="thq-animated-card-bg-1">
              <div data-animated="true" class="thq-card testimonial17-card">
                <span>
                  <fragment class="home-fragment102">
                    <span class="home-text104 thq-body-small">
                      POS Payment Tap & Pay	<br>
                      Doorstep Collection Payment<br>
                      Cash, Cheque & DD Payment<br>
                      IMPS, NEFT & RTGS Payment
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
          <div class="thq-animated-card-bg-2">
            <div class="thq-animated-card-bg-1">
              <div data-animated="true" class="thq-card testimonial17-card1">
                <span>
                  <fragment class="home-fragment096">
                    <span class="home-text098 thq-body-small">
                      At Office  <br>
                      By Collection Agents <br>
                      At Office or By Collection Agents <br>
                      By Subscribers
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</testimonial17-wrapper>
{% endblock %}