{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<div class="home-container">

  <pricing14-wrapper id="product">
    <div class="pricing14-pricing23 thq-section-padding">
      <div class="pricing14-max-width thq-section-max-width">
        <div class="pricing14-section-title">
          <span>
            <fragment class="home-fragment056">
              <span class="home-text056 thq-body-small">
                Choose the perfect plan for you
              </span>
            </fragment>
          </span>
          <div class="pricing14-content">
            <h2 class="home-text001">
              <fragment class="home-fragment058">
                <h2 class="home-text058 thq-heading-2">CHIT SAVINGS SCHEMES </h2>
              </fragment>
            </h2>
          </div>
        </div>
        <div class="pricing14-container">
          <div class="pricing14-column thq-card">
            <div class="pricing14-price">
              <div class="pricing14-price01">
                <p class="home-text007 thq-link thq-body-small">
                  <fragment class="home-fragment060"></fragment>
                </p>
                <p class="home-text060 thq-body-large">SHORT TERM SCHEMES</p>

                <p>YUVASENE CLASS </p>
              </div>
              <div class="pricing14-list">
                <div class="pricing14-list-item">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
                  </svg>
                  <span class="home-text010 thq-link thq-body-small">
                    <fragment class="home-fragment078">
                      <span class="home-text078 thq-body-small">
                        BASIC - 20 MONTHS
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing14-list-item01">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
                  </svg>
                  <span class="home-text011 thq-body-large">
                    <fragment class="home-fragment039">
                      <span>REGULAR - 25 MONTHS</span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing14-column1 thq-card">
            <div class="pricing14-price02">
              <div class="pricing14-price03">
                <p class="home-text014 thq-body-small">
                  <fragment class="home-fragment052"></fragment>
                </p>
                <p>SHORT TERM SCHEMES </p>

                <p>SALARY CLASS</p>
              </div>
              <div class="pricing14-list1">
                <div class="pricing14-list-item03">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
                  </svg>
                  <span class="home-text017 thq-body-large">
                    <fragment class="home-fragment057">
                      <span class="home-text057 thq-body-small">
                        SILVER - 30 MONTHS
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing14-list-item04">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
                  </svg>
                  <span class="home-text018 thq-body-small">
                    <fragment class="home-fragment043">
                      <span>GOLD - 40 MONTHS</span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing14-column2 thq-card">
            <div class="pricing14-price04">
              <div class="pricing14-price05">
                <p class="home-text022 thq-body-small">
                  <fragment class="home-fragment083"></fragment>
                </p>
                <p class="home-text085 thq-body-large">LONG TERM SCHEMES</p>

                <p>BUSINESS CLASS</p>
              </div>
              <div class="pricing14-list2">
                <div class="pricing14-list-item07">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
                  </svg>
                  <span class="home-text025 thq-body-large">
                    <fragment class="home-fragment049">
                      <span>DIAMOND - 50 MONTHS</span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing14-list-item08">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
                  </svg>
                  <span class="home-text026">
                    <fragment class="home-fragment055">
                      <span class="home-text055 thq-body-small">
                        PLATINUM - 100 MONTHS
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </pricing14-wrapper>

  <div class="pas">
   <h1> How Does a Chit Fund Work?</h1>
   </div>
    <div id ="chit">
    <b>A chit fund is a type of savings and credit scheme where a group of people contribute a fixed amount of money
      regularly for a specific period.
      The collected money is then distributed among the members in a systematic way.
    </b>
  </div><br>
  <div class="ps1">
    <h2 class="ps">The Basic Process:</h2><br>
    <div id="cont1">
      <p>
        <div id="process">
      <b>1. Formation:</b> A group of people (members) agree to contribute a fixed amount every month for a specified
        period. This amount is called the subscription.</div><br>
        <div id="process"><b>2. Chit Fund Company: </b>Usually, a chit fund company manages the process, collecting subscriptions,
        conducting auctions, and maintaining records. </div><br>
        <div id="process"> <b>3. Auction:</b> Each month, a bidding process takes place. Members bid for the accumulated fund.<br></div>
        <div id="process">  <b> 4. Winner:</b> The member with the lowest bid wins the auction and receives the entire accumulated amount
        minus a commission for the chit fund company.</div><br>
        <div id="process"> <b>5. Foreman's Commission:</b> The chit Fund Company (or foreman) receives a predetermined commission from the
        winning bidder.</div><br>
        <div id="process">  <b>6. Dividends:</b> The remaining amount is distributed among the other members as dividends.</div><br>
        <div id="process">  <b>7. Rotation:</b> This process repeats every month until all members have won the auction once.</div><br>
      </p>
    </div>
  </div>
  <cta26-wrapper>
    <div class="thq-section-padding">
      <div class="thq-section-max-width">
          <div>
            <span>
              <fragment class="home-fragment024">
                <span class="cta26-text024 thq-heading-2">
                  Key Points:
                </span>
              </fragment>
            </span>
            <p class="cta26-text025 thq-body-large">
              <h3><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; <b>Savings and Credit:</b></h3><br>
              <p class="a2">Chit funds offer both savings and credit opportunities. Members save through regular contributions and can access funds through the auction.</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <h3><i class="fa fa-arrow-right"aria-hidden="true"></i> &nbsp;<b> Reverse Auction: </b></h3><br>
              <p class="a2">The auction works in reverse, with the lowest bidder winning.</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <h3><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; <b>Commission:</b></h3><br>
              <p class="a2">The chit fund company charges a commission for managing the fund.</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <h3><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; <b>Regulation:</b></h3><br>
              <p class="a2">Chit funds are regulated by the Chit Funds Act, 1982, to protect investors' interests.</p>
            </p>
          </div>
      </div>
    </div>
    <div class="thq-section-padding">
      <div class="thq-section-max-width">
          <div>
              <fragment class="home-fragment024">
                <span class="cta26-text024 thq-heading-2">
                  Example:
                </span>
              </fragment>
              <div class="cta26-text025 thq-body-large">
                <p>
                  <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                  <span>Let's say chit fund scheme with 50 members that will run for 50 months, with each paying a monthly subscription of ₹10,000/- to create a ₹5,00,000/- pot. When the auction is announced, the member who bids the highest discount wins the Bid. (30% is the maximum discount anyone can bid as per Law).</span>
                </p><br>
                <table style="margin: auto;">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td><b>Number of member's in the chit fund scheme</b></td>
                      <td>– 50 Members</td>
                    </tr>
                    <tr>
                      <td><b>Duration</b></td>
                      <td>– 50 months</td>
                    </tr>
                    <tr>
                      <td><b>Monthly subscription payable by each member</b></td>
                      <td> – Rs. 10,000/-</td>
                    </tr>
                    <tr>
                      <td><b>Total Chit value</b></td>
                      <td>– Rs. 5,00,000/- (50 member's x 10,000)</td>
                    </tr>
                  </tbody>
                </table><br>
              </div><br>
              <div class="cta-text025 thq-body-large">
                  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;In this example, let us assume the winning Bid offered a 30% discount.</p><br>
                  <div>
                    <table style="margin: auto;">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td><b>Discount offered by the winning Bid</b></td>
                          <td> – 30%</td>
                        </tr>
                        <tr>
                          <td><b>Amount of discount</b></td>
                          <td> – Rs.1,50,000/- (30% of 5,00,000)</td>
                        </tr>
                        <tr>
                          <td><b>Amount received by the winner</b></td>
                          <td>– Rs.3,50,000/- (5,00,000 less 1,50,000)</td>
                        </tr>
                      </tbody>
                    </table><br>
                  </div>
              </div>
              <div class="cta-text025 thq-body-large">
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                  The balance amount is distributed equally among the member's after deducting the Foreman’s commission.</p><br>
                <table style="margin: auto;">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td><b>Foreman’s commission </b></td>
                      <td> – 5% = Rs.25,000/-</td>
                    </tr>
                    <tr>
                      <td><b>Total Dividend</b></td>
                      <td>– Rs.1,50,000/- less Rs.25,000 = Rs.1,25,000/-</td>
                    </tr>
                    <tr>
                      <td><b>Dividend credited to each member’s accoun</b></td>
                      <td>– Rs.1,25,000/50 = Rs.2,500/-</td>
                    </tr>
                  </tbody>
                </table><br>
              </div>
          </div>
          <div>
            <h3>So in the following month, the member will have to pay only ₹7,500 (₹10,000 - ₹2,500) instead of ₹10,000.</h3><br>
            <p class="a2">Next month: The process repeats with a new auction and winner.</p><br>
          </div>
          <div>
            <h3>Chit Saving Scheme table explained with the help of the below example of a statement for the entire period.</h3>
            <p></p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Instalment - Monthly Subscription</b> - ₹10,000</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Period - Number of months</b> – 50</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Gross Chit Amount</b>- Total of Instalments by all member's - ₹5 lac (₹10,000x50)</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Bid offer Amount</b>- Amount willing to be foregone by the subscriber to win the prize Money - ₹1,50,000</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Bid Percentage</b>- (if we consider Bid - 30%).</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Min Bid Amount </b>- 5% (Foreman Commission),</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Max Bid Amount</b>- 30% (for 25 & 50 months Chit Fund) and 35% (for 100 months Chit Fund),</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Net Amount (Prize Money) </b>- Chit Amount minus Bid-Offer Amount (₹5,00,000 - ₹1,50,000 = ₹3,50,000)</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Foreman Commission (FC)</b>- 5% of the Gross Chit Amount (₹25,000)</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Total Dividend</b>- Bid offer Amount minus Foreman Commission (₹1,50,000 - ₹25,000 = ₹1,25,000).</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Dividend per Customer (Share of Discount)</b>- Total Dividend/No of Subscribers (₹1,25,000/50 = ₹2,500)</p>
            </p>
            <p class="cta26-text025 thq-body-large">
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<b>Next Month Instalment</b>-  Gross Instalment minus Dividend (₹10,000-₹2,500 = ₹7,500)</p>
            </p>
          </div>
      </div>
    </div>
  </cta26-wrapper>
  <img src="{% static 'images/bank.jpg' %}" alt="" width="60%" height="50%">
  <cta26-wrapper>
    <div class="thq-section-padding">
      <div class="thq-section-max-width">
          <div class="cta26-content">
            <span>
              <fragment class="home-fragment024">
                <span class="cta26-text024 thq-heading-2">
                  If someone win the Prize Money at the starting of the period
                </span>
              </fragment>
            </span>
            <table style="margin: auto;">
              <thead></thead>
              <tbody>
                <tr>
                  <td>3,50,000</td>
                  <td></td>
                  <td>Total Amount Received - ₹3,50,000 (₹5 Lakhs)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>7,500</td>
                  <td></td>
                  <td>(18% of FC as GST & Document Charges)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3,42,500</td>
                  <td></td>
                  <td>Net Amount Payable to Prized Member</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4,12,500</td>
                  <td></td>
                  <td>Invested Amount by Member</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>-70,000</td>
                  <td></td>
                  <td>Profit</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Invested <br>4,12,500 </td>
                  <td>Dividend <br>87,500 </td>
                  <td>Loss/Profit <br>-70,000</td>
                  <td><b>Total</b> <br><b>4,30,000</b></td>
                  <td>Invested <br>4,12,500</td>
                  <td><b>Net Profit</b><br><b>17,500</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="cta26-content">
            <span>
              <fragment class="home-fragment024">
                <span class="cta26-text024 thq-heading-2">
                  or <br>
                  If someone win the Prize Money at the starting of the period
                </span>
              </fragment>
            </span>
            <table style="margin: auto;">
              <thead></thead>
              <tbody>
                <tr>
                  <td>4,75,000</td>
                  <td></td>
                  <td>Total Amount Received - ₹4,75,000 (₹5 Lakhs)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>7,500</td>
                  <td></td>
                  <td>(18% of FC as GST & Document Charges)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4,67,500</td>
                  <td></td>
                  <td>Net Amount Payable to Prized Member</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4,12,500</td>
                  <td></td>
                  <td>Invested Amount by Member</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>55,000</td>
                  <td></td>
                  <td>Profit</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Invested <br>4,12,500 </td>
                  <td>Dividend <br>87,500 </td>
                  <td>Loss/Profit <br>55,000</td>
                  <td><b>Total</b> <br><b>5,55,000</b></td>
                  <td>Invested <br>4,12,500</td>
                  <td><b>Net Profit</b><br><b>1,42,500</b></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </cta26-wrapper>
Note: - The above calculation is only an illustration; the actual return is determined by the auction discount decided by the Chit Fund subscribers.
<br>
<!-- <cta26-wrapper>
  <div class="thq-section-padding">
    <div class="thq-section-max-width">
        <div class="cta26-content">
          <span>
            <fragment class="home-fragment024">
              <span class="cta26-text024 thq-heading-2">
                Key Roles in a Chit Fund
              </span>
            </fragment>
          </span>
          <p class="cta26-text025 thq-body-large">
            Whether you're saving for a dream vacation, or a down payment on a home, Yuvanadu Chits can help you reach your financial milestones.
          </p>
        </div>
    </div>
  </div>
</cta26-wrapper> -->
<div class="krol">
 <h4>Key Roles in a Chit Fund</h4><br>
 <p>•<b>The Winning Bidder:</b> Receives the Prize Money (lump sum amount) based on their bid and serves as a borrowing instrument.</p><br>
 <p>•	<b>The member's:</b> Receive monthly dividends that reduce the amount they need to pay in the following month's instalment, acting as a savings instrument.</p><br>
 <p>•	<b>The Organizer: </b>Receives a commission (5%) for overseeing and organizing the Chit fund.</p><br>
</div>
<div class="krol1"><br>
 <h4>Procedure for the Foreman to Create a Chit Group</h4><br>
 <p>•	Before setting up a chit fund, the Foreman (Yuvanadu Chits) obtains a Prior Sanction from the Registrar of Chits by 
  making a security deposit equivalent to the Gross Chit Amount and the required forms/documents, 
  including a net worth statement as stipulated by the Chit Fund Act, 1982.</p><br>
 <p>•	The terms and conditions of the chit must be accepted by The Registrar of Chits.</p><br>
 <p>•	The Foreman can only start sourcing the Chit Fund after obtaining the sanction from The Registrar.</p><br>
 <p>•	All the members of the Chit Fund need to register with The Registrar as well.</p><br>
</div>
<div class="krol2"><br>
  <h4>Activities after Receiving Prior Sanction from The Registrar of Chits</h4><br>
  <p>•	Following receipt of the Prior Sanction, the Foreman can announce the launch of the Chit Fund and begin selling tickets.</p><br>
  <p>•	After selling all of the tickets, the Foreman will register the agreement with the Registrar and obtain the Commencement Certificate to hold the first auction.</p><br>
  <p>•	The contribution will be made in the form of a fixed monthly instalment (₹10,000 per month in the above example).</p><br>
  <p>•	From the second month onwards, the member's will be able to bid for the Prize Money from the collected funds through a reverse auction. The Highest Bidder/Prized Subscriber wins the Prize Money for that month.</p><br>
  <p>•	30% is the maximum discount anyone can quote (as per Law).</p><br>
  <p>•	As per the above example, the auction is confirmed at a 30% discount. (Discount amount is ₹1,50,000/-)</p><br>
  <p>•	So, out of ₹5,00,000/- pooled, ₹3.50,000/- goes to the highest bidder (Prized Subscriber), 5% of ₹5,00,000/- (₹25,000) goes to the Foreman (Yuvanadu Chits), and the balance ₹1,25,000/- will be equally distributed to all the 50 member's.</p><br>
  <p>•	Each member will get ₹2,500 (₹1,25,000/50) as their income, which is called Dividend (share of Dividend), and the same will be credited to their Chit account.</p><br>
  <p>•	So next month, the subscriber needs to pay only ₹7,500 (₹10,000 - ₹2,500) instead of ₹10,000.</p><br>
</div>
<div class="krol3"><br>
<h4>Participating in the Auction</h4><br>
<p>A member can participate in the auction for the Prize Money from the second month onwards. 
  The first month's Gross Chit Amount goes to the company. To be eligible to make a bid, the subscriber should have paid all the instalments and not have any pending ones.</p><br>
<h4>Options to Participate in the Auction</h4><br>
<P>A subscriber can participate in the auction in the following ways.</P><br>
<p><b>1.	Direct Participation:</b><br>The member can either participate online or personally attend the auction in the Chit office on the date and time specified in the Chit Fund agreement.</p><br>
<p><b>2.	Bid Offer Letter:</b><br>
  The subscriber needs to fill in all the details in the letter before signing and sending it to the Chit's office.
  </p><br>
  <p><b>3.	Bid Authorization Letter:
    </b><br> The customer can send a proxy to participate in the auction on their behalf. The proxy must carry the authorization letter & valid ID proof to participate in the auction.</p><br>
</div>

</div>
{% endblock %}