{% extends 'common/base.html' %}
{% block content %}
{% load static %}
  <div class="home-container">
    <cta26-wrapper id="secuity">
        <div class="thq-section-padding">
          <div class="thq-section-max-width">
            <div class="cta26-content">
              <span>
                <fragment class="home-fragment024">
                  <span class="cta26-text024 thq-heading-2">
                    SECURITIES ACCEPTABLE 
                  </span>
                </fragment>
              </span>
              <p>
                <fragment class="home-fragment025"></fragment>
              </p>
              <p class="cta26-text025 thq-body-large">
                How to Draw Prize Money [Security Norms of Chits Pledge Types] 
              </p>
              <p><b>[  ] INVEST 	</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<b>YUVA & SALARY CLASS</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Bank Fixed Deposit made</b></p>
              <p class="cta26-text025 thq-body-large">
                <strong>[  ] BORROW </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> BUSINESS CLASS</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Surety or Guarantee give</b></p>
              </p>
              
              <cta26-wrapper>
                <div class="thq-section-padding">
                  <div class="thq-section-max-width">
                      <div class="cta26-content">
                        <span>
                          <fragment class="home-fragment024">
                            <span class="cta26-text024 thq-heading-2">
                              Yuvanadu Chit financial solution with multiple options to draw prize money
                            </span>
                          </fragment>
                        </span>
                        <p class="cta26-text025 thq-body-large">
                          Security Norms
                          As per section 31 of The Chit Fund Act, 1982, every subscriber who wins the prize must furnish sufficient security to take it. 
                          Also, section 22 allows the company to collect sufficient security for the due payment of future subscriptions.

                        </p>
                      </div>
                  </div>
                </div>
              </cta26-wrapper>
              <cta26-wrapper>
                <div class="thq-section-padding">
                  <div class="thq-section-max-width">
                     <div class="thq-securities">
                      <div class="cta26-content">
                        <span>
                          <fragment class="home-fragment024">
                            <span class="cta26-text024 thq-heading-2">
                              Yuvanadu Chits offers maximum security options for their customers when taking the prize money.Customers can option for any one or a combination of the following securities from our security kit.
                            </span>
                          </fragment>
                        </span>
                        <p class="cta26-text025 thq-body-large">
                       <ul>
                        <li>Assignment of Life Insurance Policies </li><br>
                        <li>Equitable Mortgage by Deposit of Title Deeds (Regd)</li><br>
                        <li>Bank Guarantee</li><br>
                        <li>Fixed Deposits</li><br>
                        <li>Paid Up Subscription in Non – Prized Chits - Pledge of Pass Book</li><br>
                        <li>Deposits with the Group Company</li><br>
                        <li>Security Pledge- Dematerialized</li><br>
                        <li>Personal Guarantee/Surety</li><br>
                       </ul>
                        </p>
                      </div>
                     </div>
                  </div>
                </div>
              </cta26-wrapper>
              <h3 style="text-align: center;">Eligibility for Personal Surety Guarantors</h3>
              <p>1.Yuvanadu Chits suggest you opt among the 8 secured security options first for taking prize money.</p>
              <p>2. In case the secured options are not available, you can option for the unsecured option i.e. Personal Guarantors/Sureties.</p>
              <p>3. A Personal Guarantee/Surety must fulfil the following 4 eligibility checkpoints to act as security</p>
             <br>
              <h3 style="text-align: center;">Salary Brackets in case of Employee Surety </h3>
              <p>1.No of Sureties:	A Subscriber should be able to provide surety of minimum 3 eligible persons at the time of drawing the Prize Money.</p>
              <p>2.Criteria:		Government Employees, Private Sector Employees & Business Persons. </p>
              <p>3.Property: Holding	Subscriber/Surety should own properties as per the Grid.</p>
              <p>4.Income	:	If the Subscriber/Sureties are employees, they must have the basic pay/salary stipulated in the grid below.</p><br>
              <p>Additional terms & conditions stipulated for liabilities exceeding 10 lakhs, if Personal Guarantor is chosen as security</p>
              <p><b>Note: </b>Yuvanadu Chits - Branch Manager must be consulted before enrolling a chit.</p>
                  <br>
              <h3 style="text-align: center;">A FEW ADDITIONAL CONDITIONS NEED TO BE FULFILLED IN CASES WHERE THE LIABILITIES ARE GREATER THAN ₹10 LAKHS.</h3>
              <p>1.Personal surety of a minimum of four persons</p>
              <p>2.Subscriber & Guarantors should be income tax assesses. </p>
              <p>3.Copy of bank statement of salary/business account for a minimum of 12 months should be provided</p>
              <p>Minimum of 3 people among the Subscriber & Guarantors should have property documents. 
                It should be an urban residential or commercial property and not a vacant site.
               They must submit a copy of the title deed, encumbrance certificate, tax-paid receipt, or electricity bill of 3 properties.
                </p>
                    <br>

              <h3 style="text-align: center;">IN CASE OF BUSINESS GUARANTORS</h3>
              <p>1. Subscriber & Sureties must be in business for a minimum period of 10 years. Balance Sheet and Profit & Loss a/c and IT returns with computation sheet, and auditors report for the latest three years should be available
                </p>
              <p>2.The net profit of the business should be Rs. 10 Lakhs & above for all three years. Net profit of Rs.5 Lakhs & above for all three years may be considered along with a copy of property documents. </p>
              <p>3.Successful bidder or at least one of the sureties must have a residential property with NIL encumbrances (without a loan on the property) in a 100 KM radius from the Chit office.</p>
              <p>4.Copy of title deed with a forced sale value of 150% of the subscriber’s liability along with NIL Encumbrance certificate (not older than one month) must be submitted.</p>
                  <br>
              
              <h3 style="text-align: center;">EMPLOYEES</h3>
              <p>1.
                Private sector employees – Minimum service of 7 years with a minimum take-home pay of Rs.50,000/- after all deductions and loan EMIs
                </p>
              <p>2.Govt sector employees – Permanent employees with a minimum take-home pay of Rs.50,000/- after all deductions and loan EMIs </p>
              <p>3.CIBIL Score of the subscriber & guarantors should be above 650</p>
              <p>4.Subscriber & guarantors should be residents within a radius of 50 KM from the Chit office.</p>
            </div>
          </div>
        </div>
    </cta26-wrapper>
    <testimonial17-wrapper>
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container">
            <h2>
              <fragment class="home-fragment103">
                <h2 class="home-text105 thq-heading-2">
                  What Our Clients Say
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="home-fragment100">
                <span class="home-text102 thq-body-small">
                  Read testimonials from our satisfied clients about their
                  experience with our chitfund services.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card">
                  <div class="testimonial17-container02">
                    <img alt="Image of John Doe"
                      src="https://images.unsplash.com/photo-1500336624523-d727130c3328?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image" />
                    <div class="testimonial17-container03">
                      <strong>
                        <fragment class="home-fragment094">
                          <strong class="home-text096 thq-body-large">
                            John Doe
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment093">
                          <span class="home-text095 thq-body-small">
                            CEO, ABC Company
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment102">
                      <span class="home-text104 thq-body-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nulla convallis libero in dui fringilla, nec
                        tincidunt est ultricies.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container04">
                    <img alt="Image of Jane Smith"
                      src="https://images.unsplash.com/photo-1686585044008-1987be63fd92?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1" />
                    <div class="testimonial17-container05">
                      <strong>
                        <fragment class="home-fragment097">
                          <strong class="home-text099 thq-body-large">
                            Jane Smith
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment092">
                          <span class="home-text094 thq-body-small">
                            CFO, XYZ Corporation
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment096">
                      <span class="home-text098 thq-body-small">
                        Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames ac turpis egestas.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container06">
                    <img alt="Image of Alice Johnson"
                      src="https://images.unsplash.com/photo-1616540389399-3033c4ba7072?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2" />
                    <div class="testimonial17-container07">
                      <strong>
                        <fragment class="home-fragment095">
                          <strong class="home-text097 thq-body-large">
                            Alice Johnson
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment101">
                          <span class="home-text103 thq-body-small">
                            Marketing Manager, LMN Ltd.
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment104">
                      <span class="home-text106 thq-body-small">
                        Fusce nec justo eget est aliquam luctus. Proin
                        auctor mauris sit amet nunc ultrices, vel fermentum
                        odio ultricies.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container08">
                    <img alt="Image of Michael Brown"
                      src="https://images.unsplash.com/photo-1541715301255-12a4839b424a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMzA0NTg0M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3" />
                    <div class="testimonial17-container09">
                      <strong>
                        <fragment class="home-fragment099">
                          <strong class="home-text101 thq-body-large">
                            Michael Brown
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="home-fragment098">
                          <span class="home-text100 thq-body-small">
                            Operations Director, PQR Inc.
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="home-fragment105">
                      <span class="home-text107 thq-body-small">
                        Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Sed vitae diam eu
                        arcu lacinia tincidunt.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </testimonial17-wrapper>
    
    
    <footer4-wrapper>
      <footer class="footer4-footer7 thq-section-padding">
        <div class="footer4-max-width thq-section-max-width">
          <div class="footer4-content">
            <div class="footer4-logo">
              <img alt="Chitfund Logo"  src="YCPL-LOGO FINAL 10-05-2024_page-0001.jpg" alt="" width=100%;
                class="footer4-logo1" />
            </div>
            <div class="footer4-links">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment114">
                  <span class="home-text116 thq-body-small">Home</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment116">
                  <span class="home-text118 thq-body-small">About Us</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment113">
                  <span class="home-text115 thq-body-small">Services</span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment117">
                  <span class="home-text119 thq-body-small">
                    Contact Us
                  </span>
                </fragment>
              </a>
              <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                <fragment class="home-fragment112">
                  <span class="home-text114 thq-body-small">FAQs</span>
                </fragment>
              </a>
            </div>
          </div>
          <div class="footer4-credits">
            <div class="thq-divider-horizontal"></div>
            <div class="footer4-row">
              <div class="footer4-container">
                <span class="home-text thq-body-small">
                  © 2024 YuvanaduChits
                </span>
              </div>
              <div class="footer4-footer-links">
                <span>
                  <fragment class="home-fragment119">
                    <span class="home-text121 thq-body-small">
                      Privacy Policy
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="home-fragment115">
                    <span class="home-text117 thq-body-small">
                      Terms and Conditions
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="home-fragment118">
                    <span class="home-text120 thq-body-small">
                      Cookies Policy
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </footer4-wrapper>
  </div>

  {% endblock %}
   